$theme: #29adb2;
$white: #fff;
$gray: #ccc;
$background: rgb(232, 240, 254);

// body {
//     background-color: #efefef;
// }

.contents {
  overflow: overlay;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 165px auto;
  border-color: transparent;
  border-radius: 25px;

  .card-image {
    padding: 80px 0 50px;
    align-self: center;

    img {
      justify-content: center;
    }
  }

  .card-content {
    padding: 30px;

    .slogan {
      color: $theme;
      font-size: 34px;
      margin-bottom: 20px;
    }
    .login-box {
      width: 100%;
      padding: 10px 0;

      .input-row {
        padding-bottom: 10px;

        input {
          width: 100%;
          padding: 10px;
          border: transparent;
          border-bottom: 2px $theme solid;
          border-radius: 5px;
          background: $background;
        }
        button {
          margin-top: 50px;
          width: 100%;
          color: $white;
          font-size: 18px;
          background: $theme;
          border-radius: 5px;
          border: transparent;
          padding: 10px;
        }
      }
    }
  }
}
